header, footer{
    padding: 2em 1 em;
    color: white;
    background-color: black;
}
main {
    min-height: 264px;
}
nav li{
    display: inline;
    border: solid 3px;
    padding: 0.5em;
}

li>a {
    color: white;
}